<!-- <div class="container">
  <div class="catalog">
    <div class="catalog-item">
      <div class="product">
        <img src="assets/product-img/EEF1D43F-8253-4413-80FC-79891A4B3A1C9269R_med.png.pagespeed.ce.CkpGTKuJnJ.png" alt="" class="product-img">
        <div class="product-content">
          <h3 class="product-title">Fragolino Bianco Chiarelli 0.75</h3>
          <p class="product-description">Фраголино земляничное белое игристое Fragolino Bianco Chiarelli 0.75</p>
        </div>
        <footer class="product-footer">

        </footer>
      </div>
    </div>
  </div>
</div> -->
<div class="container">

<div class="good-wrapper"  *ngFor="let good of goods">
  <div class="good-item" >
  <h3>{{good.title}}</h3>
  <p>{{good.type}}</p>
  <p>{{good.country}} {{good.alcoholContent}} {{good.volume}}</p>

  <img [src]="[good.image]" alt="" width="150px" height="150px">
    <div class="top-section--button">
      <button class="btn" type="button">Выбрать</button>
    </div>
  </div>
    </div>
</div>
