<ngb-carousel>
  <ng-template>
    <div class="picsum-img-wrapper">
      <img src="assets/slider%20images/1.jpeg" alt="Random first slide">
    </div>

  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="assets/slider%20images/2.jpg" alt="Random second slide">
    </div>

  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="assets/slider%20images/3.jpeg" alt="Random third slide">
    </div>

  </ng-template>
</ngb-carousel>
