<section class="del-and-pay">
  <div class="section-del-and-pay-img">
    <img src="assets/Delivery/wine1.jpg" alt="" >
  </div>

  <div class="section-del-and-pay-about">
  <div class="nova-poshta">
    <img src="assets/Delivery/nova-poshta-570x381.png" alt="">
    <p class="nova-poshta-about">Это самая большая компания по количеству отделений по всей Украины! Доставка в большие города Украине составляет всего 1-2 сутки. Есть возможность оплачивать товар наложенным платежом (при получении).
      Стоимость наложенного платежа Вам обойдется в 20 грн +2% от общей суммы заказа (это без учета доставки на отделение).

      Примерная стоимость доставки по Украине (без учета наложенного платежа):
      - 1ящ вина 0,75л. - 65,00грн.
      - 2ящ вина 0,75л. - 85,00грн.
      - 3ящ вина 0,75л. - 110,00грн.

      УПАКОВКА ЗА НАШ СЧЕТ!!!</p>
  </div>
  <div class="delivery">
    <img src="assets/Delivery/delivery.png" alt="">
    <p class="deliver-about">Эта компания старается предоставить максимально широкий спектр логистических услуг с высоким уровнем обслуживания. Есть возможность оплачивать товар наложенным платежом (при получении). Стоимость такой услуги Вам обойдется в 10 грн +1.5% от общей суммы заказа (это без учета доставки на отделение).  И плюс стоимость доставка обходится гораздо дешевле по сравнению с другими компаниями!

      СКИДКА НА ДОСТАВКУ - 15%;
      УПАКОВКА ЗА НАШ СЧЕТ!!!</p>
  </div>
  </div>
</section>
