
<!-- HeaderPageStart -->
<header class="header-page">
  <div class="container header-page-container">
    <div class="header-page-start">
      <div class="block-logo">
        <div class="logo">
          <h2>Emilia Wine</h2>
        </div>
      </div>

    </div>
    <div class="header-page-end">
      <nav class="header-page-nav">
        <ul class="header-page-ul">
          <li class="header-page-li drop-down-menu-click">
            <a class="header-page-link " href="#">Товары</a>
            <ul class="drop-down-menu">
              <li><a href="#">Акции</a> </li>
              <li><a href="#">Вина</a> </li>
              <li><a href="#">Игристые вина</a></li>
              <li><a href="#">Продукты</a></li>
              <li><a href="#">Крепкий алкоголь</a></li>
            </ul>
          </li>

          <li class="header-page-li">
            <a class="header-page-link" href="#">Контакты</a>
          </li>
          <li class="header-page-li">
            <a class="header-page-link" href="#">Доставка и Оплата</a>
          </li>
          <li class="header-page-li">
            <a class="header-page-link" href="#">Отзывы</a>
          </li>
        </ul>
      </nav>
      <div class="phone">
        <a class="phone-item header-page-phone" href="tel:+80969999999">tel: 096 999-99-99</a>
      </div>
      <div class="burger-menu">
        <input type="checkbox" id="check-menu">
        <label for="check-menu"></label>
        <div class="burger-line first"></div>
        <div class="burger-line second"></div>
        <div class="burger-line third"></div>
        <div class="burger-line fourth"></div>

      </div>
    </div>

  </div>
</header>
<!-- HeaderPageEnd -->

<!--SectionTopStart-->
<section class="top-section">
  <div class="container top-section--container">
    <p class="top-section--info">Для Вас</p>
    <h1 class="top-section--title">Лучшие Итальянские Вина</h1>
    <div class="top-section--button">
      <button class="btn" type="button">Выбрать</button>
    </div>

  </div>
</section>
<!--SectionTopEnd-->
<!--SliderStart-->

  <app-slider></app-slider>


<!--SliderEnd-->
<!--CatalogSectionStart-->
<section class="top-catalog">
<app-top-catalog></app-top-catalog>
</section>
<!--CatalogSectionEnd-->
<!--deliveryAndPaymentStart-->
<section class="delivery-and-payment">
  <app-delivery-and-payment></app-delivery-and-payment>
</section>

<!--deliveryAndPaymentEnd-->
<!--ContactsSectionStart-->
<section class="contact-section">
  <app-contacts></app-contacts>
</section>

<!--ContactsSectionEnd-->
